<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="zhang" parent="springJdbcDs" class="com.jujie.agence.dao.AgenceDAOImpl" />
	<bean id="agenceServer" class="com.jujie.agence.server.AgenceServerImpl" >
		<property name="agenceDAO" ref="zhang"></property>
	</bean>
</beans>