<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="exchangeGiftsDAO" parent="springJdbcDs" class="com.jujie.integral.dao.ExchangeGiftsDAOImpl" />
	<bean id="exchangeGiftsServer" class="com.jujie.integral.server.ExchangeGiftsServerImpl" >
		<property name="exchangeGiftsDAO" ref="exchangeGiftsDAO"></property>
	</bean>
</beans>