<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="loggerDao" parent="springJdbcDs"
		class="com.jujie.log.dao.LoggerDaoImpl" />
		
	<bean id="loggerServer" class="com.jujie.log.server.LoggerServerImpl" >
		<property name="loggerDao" ref="loggerDao"></property>
	</bean>
</beans>